{% extends 'base.html.twig' %}

{% block title %}Adresse Utilisateur{% endblock %}

{% block body %}
    <h1>Adresse Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur_adresse.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur_adresse.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ utilisateur_adresse.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur_adresse.adresse }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ utilisateur_adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur_adresse.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ utilisateur_adresse.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_adresse_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') or app.user == utilisateur_adresse.utilisateur %}
        <a href="{{ path('app_utilisateur_adresse_edit', {'id': utilisateur_adresse.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
    {% endif %}

    {{ include('utilisateur_adresse/_delete_form.html.twig') }}
{% endblock %}