{% extends 'base.html.twig' %}

{% block title %}Coupon Réduction{% endblock %}

{% block body %}
    <h1>Coupon Réduction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon_reduction.id }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ coupon_reduction.reference }}</td>
            </tr>
            <tr>
                <th>Intitulé</th>
                <td>{{ coupon_reduction.intitule }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ coupon_reduction.description }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>
                    {% if coupon_reduction.actif %}
                        <span class="badge bg-success">Actif</span>
                    {% else %}
                        <span class="badge bg-secondary">Inactif</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coupon_reduction_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_coupon_reduction_edit', {'id': coupon_reduction.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
    {% endif %}

    {{ include('coupon_reduction/_delete_form.html.twig') }}
{% endblock %}