{% extends 'base.html.twig' %}

{% block title %}Catégorie Article{% endblock %}

{% block body %}
    <h1>Catégorie Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article_categorie.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ article_categorie.intitule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_categorie_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_article_categorie_edit', {'id': article_categorie.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
    {% endif %}

    {{ include('article_categorie/_delete_form.html.twig') }}
{% endblock %}