<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="data:image/svg+xml;base64,{{ '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><text y="1.2em" font-size="96">⚫️</text><text y="1.3em" x="0.2em" font-size="76" fill="#fff">sf</text></svg>'|base64_encode }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>

		{{ include('partials/_header.html.twig') }}

		{# ===== FLASH MESSAGES ===== #}
		<div class="flash-container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">✅
					{{ message }}</div>
			{% endfor %}
			{% for message in app.flashes('warning') %}
				<div class="alert alert-warning">⚠️
					{{ message }}</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">❌
					{{ message }}</div>
			{% endfor %}
			{% for message in app.flashes('info') %}
				<div class="alert alert-info">ℹ️
					{{ message }}</div>
			{% endfor %}
		</div>

		<main>
			{% block body %}{% endblock %}
		</main>

		{{ include('partials/_footer.html.twig') }}

		{% block scripts_body %}{% endblock %}

{{ include('partials/_cookies.html.twig') }}
	</body>
</html>



