{% extends 'base.html.twig' %}

{% block title %}Coupon Categorie{% endblock %}

{% block body %}
    <h1>Coupon Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coupon_categorie.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ coupon_categorie.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn-return" href="{{ path('app_coupon_categorie_index') }}">Retour à la liste</a>

    <a href="{{ path('app_coupon_categorie_edit', {'id': coupon_categorie.id}) }}" class="btn btn-warning btn-sm">Modifier</a>

    {{ include('coupon_categorie/_delete_form.html.twig') }}
{% endblock %}
